.HeaderDay {
    background-color: #08b2f3;
    display: inline-grid;
    place-items: center;
    margin: 0;
}
.HeaderMonth {
    grid-area: HeaderMonth;
    display: flex;
    place-items: center;
    justify-content: center;
    margin: 0;
}

.AddReminderButton {
    margin-top: 10%;
    margin-left: 25%;
}

